* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body { 
    margin: 0; 
    padding: 0;

    background: rgb(200, 200, 200);
    font-family: 'Comfortaa', sans-serif;
}

p { word-break: break-all; }

input[type=button], button {
    cursor: pointer;
}

.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}

.padding-15 {
    padding: 15px;
}

.padding-20 {
    padding: 20px;
}

.content-area, .content-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%; height: 100%;
}

input, button {
    padding: 0.5em;
}

.content-body {
    background: rgba(236, 241, 246, 0.5);
    
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.175);

    overflow: hidden;
}

.content-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

header { text-align: center; }

header > h1 {
    padding: 15px 0;
    flex-basis: 100%;
    margin: 0;
}

section#chat_input {
    justify-content: center;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-basis: 100%;

    min-height: 50px;
    
    background: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);

    text-align: left;
}

.options > div {
    display: inline-block;
}

.options > .left, .options > .right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    flex-basis: 50%;
    height: 100%;
}

.options-left {
    justify-content: flex-start;
}

.options .right {
    justify-content: flex-end;
    text-align: right;
}

div#change_username {
    padding-left: 15px;
}

.button-option {
    padding: 0 15px;
    height: 100%;

    border: none;
    background: transparent;

    transition: all ease-in-out 0.125s;
    outline: none;
}

.button-option:hover {
    background: rgba(0, 0, 0, 0.075);
}

.button-option:active {
    background: rgba(0, 0, 0, 0.125);
}

section#chatroom {
    flex-basis: 60%;
    flex-grow: 1;
    align-content: flex-start;

    background: rgba(255,255,255,1.0);
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1025);

    padding: 15px 0 15px;

    overflow: auto;
}

section#typing-feedback,
section#connect-feedback {
    position: sticky;
    top: 0; left: 0;
    width: 100%;
    padding: 0 15px;
}

section#typing-feedback > p,
section#connect-feedback > p {
    position: relative;
    margin-top: 0;
    padding: .75rem 1.25rem;
    
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.075);
}

section#typing-feedback > p {
    color: #0c5460;
    background-color: rgba(209, 236, 241, 0.9);
    border-color: #bee5eb;
}

section#connect-feedback > p.connect {
    color: #155724;
    background-color: rgba(212, 237, 218, 0.9);
    border-color: #c3e6cb;
}

section#connect-feedback > p.disconnect {
    color: #721c24;
    background-color: rgba(248, 215, 218, 0.9);
    border-color: #f5c6cb;
}

p.message {
    display: block;
    flex-basis: 100%;
    justify-self: center;

    margin: 10px 25px;
    min-height: 40px;
    padding: 1vh 2vh;

    border-radius: 50px;

    font-size: 2vh;

    animation: expand-out ease-in-out 1.125s;
}

@keyframes expand-out {
    from { 
        flex-basis: 0;
        width: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    to {
        width: 100%;
        flex-basis: 100%;
    }
}

.message:nth-child(even) {
    background-color: #81DAF5;
}

.message:nth-child(odd) {
    background-color: #81BEF7;
}

#chat_input {
    flex-basis: 7%;
    text-align: center;
    background-color: rgba(140, 130, 140, 0.9);
}

input#username, input#message {
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

input#message {
    display: inline-block;
    max-width: 75%;
    flex-grow: 1;

    height: 70%;

    font-size: 2vh;
}

button#send_username,
button#send_message {
    background: rgb(211, 211, 211);

    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

    transition: all ease-in-out 0.05s;
}

button#send_message {
    display: inline-block;
    flex-basis: 5em;
    height: 70%;
    width: 5em;

    outline: none;
}

button#send_username:hover, button#send_username:focus,
button#send_message:hover, button#send_message:focus {
    background: rgb(231, 231, 231);
}

button#send_username:active,
button#send_message:active {
    background: rgb(201, 201, 201);
}

/**************************/
/* Modal Styling          */
/**************************/

.modal h1, .modal h2,
.modal h3, .modal h4,
.modal h5, .modal h6 {
    margin: 5px 0;
}

.modal {
    padding: 1.5%;
    z-index: -1;
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 0;

    opacity: 0;
    overflow: hidden;

    background: rgba(0, 0, 0, 0.35);
}

.modal.show {
    z-index: 9999;
    opacity: 1;
    height: 100%;
}

.modal-content {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%); 

    width: calc(100% - 3%);
    max-width: 1280px;
    height: fit-content;
    min-height: 500px;
    max-height: calc(100% -3%);

    background: white;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.35);

    overflow: auto;
}

.modal-content .modal-header {
    padding: 25px 25px 15px;
    min-height: 30px;
    font-size: 2em;

    background: rgba(240, 240, 240);

    user-select: none;
}

.modal-content .modal-body {

}

.join-room {
    cursor: pointer;

    position: relative;
    width: 100%;
    padding: 10px 25px;

    background: rgba(250, 250, 250);
}

.join-room, .join-room:before, .join-room:after {
    user-select: none;
}

.join-room:before {
    content: "#";
    position: absolute;
    top: 10px; left: 12.5px;
    width: fit-content;
    height: fit-content;
}

.join-room:hover:after,
.join-room:focus:after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.125);
}

.join-room:active:after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.175);
}