@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
}

header {
    text-align: center;
}

h1 {
    font-family: sans-serif;
    margin: 0px;
}

input, button {
  padding: 0 10px;
  height: 28px;
  background: rgb(245,245,245);
  border: 1px solid rgba(80,80,80);
  border-radius: 3px;
  outline: none;
}

input {
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}

div#change_username, section#input_zone {
  position: relative;
}

div#change_username {
    height: 3%;
    display: inline-block;
    padding: 5px;
    background-color: #BCA9F5;
}

section#chatroom {
    border: 5px solid rgb(200,200,200);
    height: 85%;
    overflow: auto;
}

section#input_zone {
    height: 7%;
    text-align: center;
    background-color: #BCA9F5;
}

.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

input#username {
    font-family: sans-serif;
}

input#message {
    display: inline-block;
    width: 88%;
    height: 70%;
    font-family: sans-serif;
    font-size: 2vh;
}

button#send_message {
    display: inline-block;
    height: 70%;
    width: 10%;
}

p.message {
    margin: 0px;
    width: 100%;
    height: 40px;
    font-size: 2vh;
    font-family: sans-serif;
    padding: 1vh;
}

.message:nth-child(even) {
    background-color: #81DAF5;
}

.message:nth-child(odd) {
    background-color: #81BEF7;
}